<h1 class="ui-widget-header"><i class="ui-icon small game-authoring"></i>{{i18n.titles.deployView}}</h1>
<div>
  <label>{{i18n.labels.gameVersions}}{{i18n.labels.fieldSeparator}}</label>
  <select class="versions"></select>
</div>
<div>
  <label>{{i18n.labels.deployVersion}}{{i18n.labels.fieldSeparator}}</label>
  <a href="#" class="deploy"></a>
  <a href="#" class="commit"></a>
  <a href="#" class="rollback"></a>
  <div class="progress">
    <div class="loading"></div><label></label>
  </div>
</div>