<h1>{{title}}</h1>
<div class="errors"></div>
<table>
  <tr>
    <td class="left">
      <label>{{i18n.labels.descImage}}</label>
      <div class="desc image"/>
    </td>
    <td class="right">
      <div>
        <label>{{i18n.labels.name}}{{i18n.labels.fieldSeparator}}</label>
        <span class="name field"></span>
      </div>
      <div>
        <label>{{i18n.labels.desc}}{{i18n.labels.fieldSeparator}}</label>
        <span class="desc field"></span>
      </div>
    </td>
  </tr>
  <tr>
    <td class="left">
      <label>{{i18n.labels.images}}</label>
      <div class="images-container"></div>
    </td>
  </tr>
</table>