<h1>{{title}}</h1>
<div class="errors"></div>
<div class="external-change"></div>
<table>
  <tr>
    <td class="left">
      <div class="image"></div>
    </td>
    <td class="right">
      <div>
        <label>{{i18n.labels.map}}{{i18n.labels.fieldSeparator}}</label>
        <select class="map field"></select>
      </div>
      <div>        
        <label>{{i18n.labels.abscissa}}{{i18n.labels.fieldSeparator}}</label>
        <span class="x field"></span>
      </div>       
      <div>        
        <label>{{i18n.labels.ordinate}}{{i18n.labels.fieldSeparator}}</label>  
        <span class="y field"></span>
      </div>       
    </td>
  </tr>
</table>