<header>
  <div>
    <h1></h1>
    <nav>
      <a data-route="/edition" class="world-edition"></a>
      <a data-route="/authoring" class="game-authoring"></a>
      <a data-route="/admin" class="admin"></a>
    </nav>
    <div class="deployement">
      <i></i>{{i18n.labels.deployementInProgress}}
    </div>
    <a class="logout"></a>
  </div>
</header>
<div class="loader"></div>
<div class="container"></div>
<footer>
  <div>
    <p class="powered">{{{i18n.msgs.powered}}}</p>
    <p class="copyright">{{{i18n.msgs.copyright}}}</p>
  </div>
</footer>