<h1>{{title}}</h1><a href="#" class="kick"></a>
<div class="errors"></div>
<div class="external-change"></div>
<table>
  <tr>
    <td class="left">
      {{i18n.labels.email}}{{i18n.labels.fieldSeparator}}
    </td>
    <td class="right">
      <div class="email field"></div>
    </td>
  </tr>
  <tr class="password">
    <td class="left">
      {{i18n.labels.password}}{{i18n.labels.fieldSeparator}}
    </td>
    <td class="right">
      <div></div>
    </td>
  </tr>
  <tr>
    <td class="left">
      {{i18n.labels.provider}}{{i18n.labels.fieldSeparator}}
    </td>
    <td class="right">
      <select class="provider field">
        {{#i18n.labels.providers}}
          <option value="{{value}}">{{label}}</option>
        {{/i18n.labels.providers}}
      </select>
    </td>
  </tr>
  <tr>
    <td class="left">
      {{i18n.labels.isAdmin}}{{i18n.labels.fieldSeparator}}
    </td>
    <td class="right">
      <input type="checkbox" class="isAdmin field"/>
    </td>
  </tr>
  <tr>
    <td class="left">
      {{i18n.labels.lastConnection}}{{i18n.labels.fieldSeparator}}
    </td>
    <td class="right">
      <div class="lastConnection field"></div>
    </td>
  </tr>
  <tr>
    <td class="left">
      {{i18n.labels.lastName}}{{i18n.labels.fieldSeparator}}
    </td>
    <td class="right">
      <div class="lastName field"></div>
    </td>
  </tr>
  <tr>
    <td class="left">
      {{i18n.labels.firstName}}{{i18n.labels.fieldSeparator}}
    </td>
    <td class="right">
      <div class="firstName field"></div>
    </td>
  </tr>
  <tr>
    <td class="left">
      {{i18n.labels.characters}}{{i18n.labels.fieldSeparator}}
    </td>
    <td class="right">
      <div class="characters field"></div>
    </td>
  </tr>
  <tr>
    <td class="left">
      {{i18n.labels.prefs}}{{i18n.labels.fieldSeparator}}
    </td>
    <td class="right">
      <div class="prefs">
        <div class="field"></div>
      </div>
    </td>
  </tr>
</table>