//------------------------------------------------------------------------------
// Fonts

@css {
  @import url('http://fonts.googleapis.com/css?family=Play|Michroma')
}

textFont = 'Play'
textSize = 15px

headingFont = 'Michroma'
headingSize = 24px

//------------------------------------------------------------------------------
// Backgrounds

textBackground = #374845
mainBackground = #000
buttonBackground = #FAE8A8
alertShadow = 0px 0px 1px #FFF
backdropBackground = rgba(#000, 0.7)
boardBackground = transparent
mapLoadingBackground = rgba(black, 0.5)
inputBackground = #FFF8D8

//------------------------------------------------------------------------------
// Colors

textColor = #DBE3E2
textDarkColor = textBackground
cursorColor = #A7EF75
hoverColor = #FFF
indicColor = #1C3907
buttonColor = #333
buttonBorderColor = #D1A756
hoverButtonBorderColor = #484537
alertColor = #B3FF80
characterHoverColor = #ffdd55
logTimeColor = #708364
errorColor = #FF6666
infoColor = #2CA089
ultramarineColor = #3A58A1
imperialfistColor = #AD8C32
bloogangelColor = #B11708
alienColor = #779B53
objectiveColor = errorColor
headingShadow = 0 0 3px #D40000

//------------------------------------------------------------------------------
// Sizes

mainWidth = 1200px
buttonPadding = textSize*0.7 textSize*1.5
buttonMove = 3px

//------------------------------------------------------------------------------
// Durations

logsDuration = 250ms
moveDuration = 500ms
fromRightDuration = 500ms
fallDuration = 750ms
modalDuration = 750ms