<div class="container">
  <div class="content">    
    <h1>{{i18n.titles.login}}</h1>
    <div class="providers">
      <label>{{i18n.labels.connectWith}}</label>
      <a class="google connect" tabindex="0" href="#">{{i18n.buttons.google}}</a>
    </div>
    <div class="separator">{{i18n.labels.orConnect}}</div>
    <form>
      <fieldSet>
        <label>{{i18n.labels.enterLogin}}</label><input type="text" name="username" autofocus="autofocus"/>
      </fieldSet>
      <fieldSet>
        <label>{{i18n.labels.enterPassword}}</label><input type="password" name="password" autocomplete="on"/>
      </fieldSet>
    </form>       
  </div>
</div>
<footer>
  <div>
    <p class="powered">{{{i18n.msgs.powered}}}</p>
    <p class="copyright">{{{i18n.msgs.copyright}}}</p>
  </div>
</footer>