/*
  Copyright 2010,2011,2012 Damien Feugas
  
    This file is part of Mythic-Forge.

    Myth is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Myth is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser Public License for more details.

    You should have received a copy of the GNU Lesser Public License
    along with Mythic-Forge.  If not, see <http://www.gnu.org/licenses/>.
*/

@import 'constants'

#deploy-confirmation-popup

  ol
    margin 2em 0
    list-style decimal inside

  input
    width 100%
    box-sizing border-box

  .errors
    color errorColor
    font-size fontSize*0.8

.admin.perspective

  > .left
    box-flex 0
    width 350px

  > .right
    box-flex 1

  .view
    border 1px solid borderColor
    border-radius 5px
    box-shadow 0 5px 10px shadowColor
    padding 15px
    box-flex 1

    > h1
      box-sizing border-box
      border-radius 4px
      padding 0.5em
      margin-bottom 1em
      font-size fontSize*1.2

      i 
        margin-right 0.7em

  .deploy.view
    box-flex 0

    > div
      margin-bottom 0.5em

    label
      font-size fontSize*1.2
      width auto

    .progress
      display inline-block
      margin-left 1em

      > *
        display inline-block

      .loading    
        height 16px
        background url('images/loader.gif')
        background-repeat no-repeat
        background-position center top
        margin 0 1em
        width 210px

  .turns.view

    .list
      margin 1em 0

      > *
        padding 0.2em 0

      input
        margin-right 0.3em
        vertical-align -2px

    .progress
      color dropColor
    .progress:after
      content '...'

    .success
      color successColor
    .success:after
      content '- ok'
      padding-left 0.5em

    .failure
      color errorColor
    .failure:after
      content '- ko'
      padding-left 0.5em

    .fatal
      background-color red

  .time.view
    box-flex 0

    .time
      display inline-block
      width 125px
      margin-right 1em
      padding-right 5px

  .logs.view
  .turns.view
    margin-top 1em

  .logs.view
    display box
    box-orient vertical

    .logs-panel
      margin-top 0
      background-color black
      display block
      box-flex 1
      height 1px
      overflow auto
      padding 0.5em

      .log
        font-family 'Courrier Sans'
        font-size 10px
        line-height 15px

        .date, .level, .name
          padding-right 0.5em

        .level::after
          content ":"

        .message
          color white

        .name
          color lighten(fontColor, 30%)

      .debug .level, .trace .level
        color lighten(fontColor, 15%)
      .info .level
        color focusColor
      .warn .level
        color errorColor
      .error .level
        color red