/*
  Copyright 2010,2011,2012 Damien Feugas
  
    This file is part of Mythic-Forge.

    Myth is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Myth is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser Public License for more details.

    You should have received a copy of the GNU Lesser Public License
    along with Mythic-Forge.  If not, see <http://www.gnu.org/licenses/>.
*/

@import 'constants'

img.dragged
  width 40px

.affect-field 
  size = 50px

  .images-container
    margin 1em 0

  .loadable:focus
    border-color grey

  .loadable
    border 1px dotted transparent
    display inline-block
    width size
    margin 0 0.5em
    cursor pointer

    *
      cursor pointer

    p 
      width size
      height size - 13
      font-size 10px
      margin 0
      padding-top 13px
      vertical-align bottom

    img
      width size
      height size

    .ui-icon
      display none

  .loadable.selected
    box-shadow: 0 0 10px 5px #AAA

.affect-field.ui-dialog-content
    text-align center

.edition.perspective

  > .left
    width 250px

    .search
      padding-bottom 0

  > .right
    typeIcons '.new', 25, 0 0.5em 0 0 

    .new-button 
      vertical-align middle

    .ui-tabs.action-bars
      display inline-block
      padding 0
      border none
      margin-left 20px
      vertical-align middle

      .ui-tabs-nav
        display none

      .ui-tabs-panel
        padding 0

  // explorer behaviour
  .explorer 
    box-flex 1
    overflow auto
    // firefox fix: to allow overflow, must have an height, event unrelevant
    height 1px
    
  // rule views

  .view.rule.inactive
  .view.turn-rule.inactive
    > h1
      inactive()

  .view.script:not(.icon)
  .view.rule:not(.icon)
  .view.turn-rule:not(.icon)

    > div input[type="text"]
      min-width 25%
      
    > .content.adv-editor
      takeSpace 65px
      margin 12px 15px
      width auto
      border 1px solid borderColor

      *
        font-family 'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas',monospace
        font-size 12px
        line-height 16px
      
  .view.script.error > .content.adv-editor
  .view.rule.error > .content.adv-editor
  .view.turn-rule.error > .content.adv-editor
    top 100px

  // map view
  .view.map

    .map-widget 
      margin 20px auto 10px

    .not-saved
      color errorColor