/*
  Copyright 2010,2011,2012 Damien Feugas
  
    This file is part of Mythic-Forge.

    Myth is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Myth is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser Public License for more details.

    You should have received a copy of the GNU Lesser Public License
    along with Mythic-Forge.  If not, see <http://www.gnu.org/licenses/>.
*/

@import 'constants'

img.dragged
  width 40px

.id-container
  text-align center

.affect-field 
  size = 50px

  .images-container
    margin 1em 0

  .loadable:focus
    border-color grey

  .loadable
    border 1px dotted transparent
    display inline-block
    width size
    margin 0 0.5em
    cursor pointer

    *
      cursor pointer

    p 
      width size
      height size - 13
      font-size 10px
      margin 0
      padding-top 13px
      vertical-align bottom

    img
      width size
      height size

    .ui-icon
      display none

.affect-field.ui-dialog-content
    text-align center

.edition.perspective

  > .left
    width 250px

    .search
      padding-bottom 0
      flex-shrink 0

  > .right
    typeIcons '.new', 25, 0 0.5em 0 0 

    .new-button 
      vertical-align middle

    .ui-tabs.action-bars
      display inline-block
      padding 0
      border none
      margin-left 20px
      vertical-align middle

      .ui-tabs-nav
        display none

      .ui-tabs-panel
        padding 0

  // explorer behaviour
  .explorer 
    flex-grow 1
    overflow auto
    
  // rule views

  .view.rule.inactive
  .view.turn-rule.inactive
    > h1
      inactive()

  .view.script:not(.icon)
  .view.rule:not(.icon)
  .view.turn-rule:not(.icon)
  .view.client-conf:not(.icon)
    display flex
    flex-direction column
    box-sizing border-box
    width 100%
    height 100%

    > h1 
      margin-bottom 0

    > .details
      position absolute
      right 2em
      top 5px
      width auto

      label
        padding-top 0
        padding-left 2em

    > .content.adv-editor
    > .values.adv-editor
      position relative
      flex-grow 1
      border 1px solid borderColor

      *
        font-family 'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas',monospace
        font-size 12px
        line-height 16px

  // map view
  .view.map

    .right
      text-align center

    > div label
      min-width 100px
      width auto
      padding-left 1em

    .map-widget 
      margin 20px auto 10px

    .not-saved
      color errorColor

  .view.item-type

    .images label
      line-height 97px

@media screen and (-webkit-min-device-pixel-ratio:0)

  .edition.perspective

    .view.script:not(.icon)
    .view.rule:not(.icon)
    .view.turn-rule:not(.icon)
    .view.client-conf:not(.icon)
      display flex
      // required on webkit to take all available vertical space
      position absolute
      // compensate parent tab padding
      margin -1em -1.4em
      padding 1em 1.4em