/*
  Copyright 2010,2011,2012 Damien Feugas
  
    This file is part of Mythic-Forge.

    Myth is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Myth is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser Public License for more details.

    You should have received a copy of the GNU Lesser Public License
    along with Mythic-Forge.  If not, see <http://www.gnu.org/licenses/>.
*/

@import 'constants'

.moderation.perspective

  > .left 
    display box
    box-orient vertical

    .map-container
      box-flex 1
      overflow-y auto
      overflow-x hidden
      height 1px // Firefox bug: must have an height to overflow

  .toolbar

    .search
      box-sizing border-box
      display inline-block
      width 40%

    .maps
      box-sizing border-box
      display inline-block
      width 59%
      text-align right


  .map-widget
    margin 0 0 15px 0

    .map-item
      cursor pointer

  .commands label
    width 100px
    display inline-block
    text-align right

  > .right
  
    .ui-tabs.action-bars
      display inline-block
      padding 0
      border none
      margin-left 20px
      vertical-align middle

      .ui-tabs-nav
        display none

      .ui-tabs-panel
        padding 0

    .ui-tabs.views .ui-tabs-nav 

      li a 
        padding 0.2em 2em 0.2em 0.5em

      .uid
        font-size fontSize*0.65
        margin-right -2em

      .ui-icon-close
        position: absolute
        right 0.5em
        top 0.5em

    .action-bar .separator
        margin 0 0 2px 9px
        vertical-align bottom

  .view 

    > table
      margin-top 10px
      width 100%

      td 
        vertical-align top

      label
        display inline-block
        margin-right 1em
        padding-top 0.4em
        text-align right
        vertical-align top
        width 120px

      .left
        width 130px
        padding-top 0.5em
        text-align right

      label
        width 100%
        margin 0 1em 0.5em 0

      .right
        padding-left 1em
        
        > *
          margin-bottom 0.5em

        label
          width 75px

      input[type="text"]
        min-width 50%

    .prop 

      .left
        padding-top 0.5em
        width 130px
        text-align right

    .update-date
    .creation-date
      padding 0.5em 0
      color disabledColor

  .view.player

    .kick
      position absolute
      right 1.3em
      top 2px

    .prefs
      height 150px
      position relative

      .field
        border 1px solid borderColor
        takeSpace 0
        width auto

        *
          font-family 'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas',monospace
          font-size 12px
          line-height 16px

.choose-type 

  .loadable
    cursor pointer
    display inline-block
    
  .loadable:hover
    box-shadow: 0 0 10px 5px #AAA