/*
  Copyright 2010,2011,2012 Damien Feugas
  
    This file is part of Mythic-Forge.

    Myth is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Myth is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser Public License for more details.

    You should have received a copy of the GNU Lesser Public License
    along with Mythic-Forge.  If not, see <http://www.gnu.org/licenses/>.
*/

.moderation.perspective

  .toolbar

    .search
      box-sizing border-box
      display inline-block
      width 40%

    .maps
      box-sizing border-box
      display inline-block
      width 59%
      text-align right


  .map-widget
    margin 0 0 15px 0

    .map-item
      cursor pointer

  .commands label
    width 100px
    display inline-block
    text-align right

  > .right
  
    .ui-tabs.action-bars
      display inline-block
      padding 0
      border none
      margin-left 20px
      vertical-align middle

      .ui-tabs-nav
        display none

      .ui-tabs-panel
        padding 0

    .ui-tabs.views .ui-tabs-nav 

      li a 
        padding 0.2em 2em 0.2em 0.5em

      .uid
        font-size fontSize*0.65
        margin-right -2em

      .ui-icon-close
        position: absolute
        right 0.5em
        top 0.5em

    .action-bar .separator
        margin 0 0 2px 9px
        vertical-align bottom

  .view 

    > table .right > *
      margin-bottom 0.5em

    .prop 

      .left
        padding-top 0.5em
        width 130px
        text-align right

    > .external-change
      border-radius radius

      > *
        padding 0.5em 1em
      * 
        color errorColor

  .view.event

    > table td.left
      padding-top 0.5em
      text-align: right;
      width: 130px;

    .update-date
    .creation-date
      padding 0.5em 0
      color disabledColor

.choose-type 

  .loadable
    cursor pointer
  .loadable:hover
    box-shadow: 0 0 10px 5px #AAA