/*
  Copyright 2010,2011,2012 Damien Feugas
  
    This file is part of Mythic-Forge.

    Myth is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Myth is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser Public License for more details.

    You should have received a copy of the GNU Lesser Public License
    along with Mythic-Forge.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Imports */
@import 'jquery-ui.css'
@import 'jquery-ui-numeric.css'
@import 'jquery-timepicker-addon.css'

// Font variables
fontColor = #333
fontSize = 12px
fontFamily = Verdana, sans-serif

radius = 4px
borderColor = #ccc
shadowColor = #ccc
bgColor = #fff
hoverColor = darken(#fff, 8%)
inactiveColor = darken(#fff, 20%)
focusColor = #75B9F0
errorColor = lighten(orange, 20%)
selectedColor = darken(#EBF8FC, 10%)

// CSS Reset 
@import 'reset'
@import 'mixins'

// Global styles

:not(.ui-numeric) > input
:not(.adv-editor) > textarea
select
.ui-numeric
  border 1px solid borderColor
  border-radius radius
  padding 0.2em
  transition all 200ms

  &:focus
  &.focus
    border-color focusColor
    box-shadow 0 0 5px rgba(focusColor, 0.6)

// Menus
.menu
  position absolute
  background-color bgColor
  border 1px solid borderColor
  box-shadow 0 3px 5px shadowColor
  margin-top: 2px
  border-radius radius
  padding 0.2em
  opacity 0
  transition opacity 200ms
  z-index -1

  > * 
    hoverable()
    padding 0.5em 1em

.menu.open
  z-index 10
  opacity 1

// Button

.action-bars .ui-button 
.action-bar .ui-button 
  display: inline-block;
  margin-right 10px
  min-height 27px
  min-width 27px
  vertical-align bottom

.ui-button-icon-only .ui-button-text
  display none

// Icons
multiIcon(valid invalid cancel warning question help success failure login logout)

multiIcon(save remove open remove-selection upload unlink rename add remove-folder, 1)

multiIcon(new-folder new-file add-param add-property new-actor new-item new-event new-player field script, 2)

multiIcon(world-edition world-moderation game-authoring admin, 4)

// Special icons that may be inside text
for name in question warning cancel
  .ui-dialog .ui-icon.{name}
    float left
    margin 0 1em 1em 0

.ui-button-text-icon-primary .ui-button-text
  padding-left 2.3em

// Validators

:not(.ui-numeric) > input.validation-error
textarea.validation-error
.validation-error
  border-color errorColor

// JQuery ui dialogs

.ui-dialog 
  min-height 175px
  min-width 480px

  *
    font-size 14px

  .ui-dialog-content 
    min-height 150px
    min-width 450px
    line-height fontSize*1.5

    p
      margin-bottom 1em

// Main Layout
html
body
  height 100%

.layout 
.login-view
  display box
  box-orient vertical
  overflow hidden
  width 100%
  height 100%

  header
    box-sizing border-box
    padding 0 1em

    > div
      display box
      box-align center
      padding 0.2em 0
      border-bottom 1px solid lightgrey
      width 100%

      h1
        font-size fontSize*1.2
        font-weight bold
        width 175px

      nav
        margin-left -175px
        box-flex 1
        text-align center

        .ui-button
          width 37px
          height 37px

        .ui-button.active
          box-shadow: 0 0 5px 2px #B8E5F5

        .ui-icon
          position relative

  > .loader
    height 16px
    background url('images/loader.gif')
    background-repeat no-repeat
    background-position center top

  > .container
    box-flex 1
    display box

    > *
      display box
      box-flex 1

  footer
    box-sizing border-box

    > div
      position relative
      margin 0 1em
      padding 0.5em 0
      border-top 1px solid lightgrey

      > *
        display inline-block
        font-size fontSize*0.9

      .copyright
        position absolute
        top 0.5em
        right 0

// Common style for perspective layout

.perspective
  space = 1em
  // Perspective is an horizontal flex-box
  display box
  overflow hidden

  > *
    // Each child of the perspective is itself a vertical flex-box
    box-flex 1
    box-sizing border-box
    padding space space space 0

    overflow hidden
    display box
    box-orient vertical    

    > *:first-child
      padding-bottom space

  > *:first-child
    padding-left space

  > .left
    box-flex 0

  > .right

    .ui-tabs 
      box-flex 1

    .ui-tabs.views
      display box
      box-orient vertical

      .ui-tabs-nav
        width 100%
        padding-top 2px
        box-sizing border-box

      .content.modified:before
        content '*'

      .ui-tabs-panel
        box-flex 1
        height 1px // Firefox bug: must have an height to overflow
        overflow auto
        position relative

      .ui-icon-close
        display inline-block
        cursor: pointer

      li a
        padding: 0.2em 0.5em
        typeIcons '.icon', 25, 0

// Login styles
.login-view
  background-image url('images/myth-logo-text.png')
  background-position 50% 20%
  background-repeat no-repeat
  background-size auto 150px

  .container
    box-orient vertical
    box-pack center
    box-align center

  .content
    display inline-block
    box-flex 0
    border-radius 10px
    border 1px solid borderColor
    box-shadow 0 10px 15px shadowColor
    background-color rgba(white, 0.85)
    padding 30px 40px
    text-align center

    h1
      border-bottom 1px solid borderColor
      margin-bottom 20px
      padding-bottom 10px

    h1
    .separator
      font-size fontSize*1.2
      font-weight bold

    .separator
      margin 20px 0

    form
      width 400px
      padding 0 1em

      input[type=submit]
        display none

      a.login
        margin-top 1em

      fieldset 
        padding 2px 0

        > *
          width 50%
          box-sizing border-box
          display inline-block

      label
        padding-right 10px
        text-align right

    .connect
      margin 0 1em
      font-weight bold
      text-decoration none

    .connect.twitter
      color white
        
    connect-button '.connect.google', 0
    connect-button '.connect.twitter', 2

// Overridable imports
@import 'edition-perspective'
@import 'authoring-perspective'
@import 'admin-perspective'
@import 'widget'