<div class="left">
  <div class="search">
    <input class="content" type="text"/>
    <div class="ui-icon ui-icon-search"></div>
    <input class="filter" type="text" value="{{i18n.constants.defaultFileFilter}}"/>
    <div class="ui-icon ui-icon-document"></div>
    <div class="nb-results"></div>
    <div class="ui-icon small help"></div>
    <div class="help-content tooltip">{{{i18n.tips.searchFiles}}}</div> 
  </div>
</div>
<div class="right">
  <div class="action-bar">
    <a class="new-file"></a>
    <a class="new-folder"></a>
    <a class="upload"></a>
    <a class="rename"></a>
    <a class="remove-folder"></a>    
    <a class="restore"></a>
    <i class="separator"></i>
    <a class="save"></a>
    <a class="remove"></a>
    <span class="history">
      {{i18n.labels.history}}{{i18n.labels.fieldSeparator}}
      <select></select>
    </span>
  </div>
  <div class="ui-tabs views">
    <ul></ul>
  </div>
  <form class="file-upload">
    <input type="file"/>
  </form>
</div>
