<div class="left">
  <div class="search"></div>
</div>
<div class="right">
  <div>
    <a href="#" data-menu="new-button-menu" class="new-button">{{i18n.buttons.new}}</a>
    <ul class="menu new-button-menu">
      <li data-class="ItemType"><i class="new item-type"></i>{{i18n.buttons.newItemType}}</li>
      <li data-class="Rule"><i class="new rule"></i>{{i18n.buttons.newRule}}</li>
      <li data-class="TurnRule"><i class="new turn-rule"></i>{{i18n.buttons.newTurnRule}}</li>
      <li data-class="Script"><i class="new script"></i>{{i18n.buttons.newScript}}</li>
      <li data-class="EventType"><i class="new event-type"></i>{{i18n.buttons.newEventType}}</li>
      <li data-class="FieldType"><i class="new field-type"></i>{{i18n.buttons.newFieldType}}</li>
      <li data-class="Map"><i class="new map"></i>{{i18n.buttons.newMap}}</li>
    </ul>
    <div class="ui-tabs action-bars">
      <ul></ul>
    </div>
  </div>
  <div class="ui-tabs views">
    <ul></ul>
  </div>
</div>
