<h1>{{title}}</h1>
<div class="apply-rule-container">
  <a href="#" data-menu="apply-rule-menu" class="apply-rule">{{i18n.buttons.applyRule}}</a>
  <ul class="menu apply-rule-menu"></ul>
</div>
<div class="errors"></div>
<div class="external-change"></div>
<table>
  <tr>
    <td class="left">
      {{i18n.labels.creationDate}}{{i18n.labels.fieldSeparator}}
    </td>
    <td class="right">
      <div class="creation-date"></div>
    </td>
  </tr>
  <tr>
    <td class="left">
      {{i18n.labels.updateDate}}{{i18n.labels.fieldSeparator}}
    </td>
    <td class="right">
      <div class="update-date"></div>
    </td>
  </tr>
  <tr>
    <td class="left">
      {{i18n.labels.from}}{{i18n.labels.fieldSeparator}}
    </td>
    <td class="right">
      <div class="from"></div>
    </td>
  </tr>
</table>