<h1>{{title}}</h1>
<div class="errors"></div>
<div class="external-change"></div>
<div class="images">
  <label>{{i18n.labels.descImage}}{{i18n.labels.fieldSeparator}}</label>
  <div class="desc image"/>
</div>
<div>
  <label>{{i18n.labels.template}}{{i18n.labels.fieldSeparator}}</label>
  <span class="template field" title="{{i18n.tips.template}}"></span>
</div>
<div>
  <label>{{i18n.labels.properties}}{{i18n.labels.fieldSeparator}}</label>
  <table class="properties">
    <thead>         
      <tr>
        <th colspan="2">{{i18n.labels.propertyUid}}</th>
        <th>{{i18n.labels.propertyType}}</th>
        <th>{{i18n.labels.propertyValue}}</th>
      </tr>        
    </thead>
    <tbody></tbody>
  </table>
</div>