<h1>{{title}}</h1>
<div class="apply-rule-container">
  <a href="#" data-menu="apply-rule-menu" class="apply-rule">{{i18n.buttons.applyRule}}</a>
  <ul class="menu apply-rule-menu"></ul>
  <a href="#" class="embody"></a>
</div>
<div class="errors"></div>
<div class="external-change"></div>
<table>
  <tr>
    <td class="left">
      <div class="image"></div>
    </td>
    <td class="right">
      <div>
        <label>{{i18n.labels.map}}{{i18n.labels.fieldSeparator}}</label>
        <select class="map field"></select>
      </div>
      <div>        
        <label>{{i18n.labels.abscissa}}{{i18n.labels.fieldSeparator}}</label>
        <span class="x field"></span>
      </div>       
      <div>        
        <label>{{i18n.labels.ordinate}}{{i18n.labels.fieldSeparator}}</label>  
        <span class="y field"></span>
      </div>   
      <div>        
        <label>{{i18n.labels.transition}}{{i18n.labels.fieldSeparator}}</label>
        <select class="transition field"></select>
      </div>       
      <div class="quantity">        
        <label>{{i18n.labels.quantity}}{{i18n.labels.fieldSeparator}}</label>  
        <span class="quantity field"></span>
      </div>      
    </td>
  </tr>
</table>