<div class="container">
  <div class="content">    
    <h1>{{i18n.titles.login}}</h1>
    <div class="providers">
      <label>{{i18n.labels.connectWith}}</label>
      <a class="google connect" href="#">{{i18n.buttons.google}}</a>
      <a class="twitter connect" href="#">{{i18n.buttons.twitter}}</a>
      <a class="github connect" href="#">{{i18n.buttons.github}}</a>
    </div>
    <div class="separator">{{i18n.labels.orConnect}}</div>  
    <div class="loader"></div>   
    <div class="form-placeholder"></div>  
  </div>
</div>
<footer>
  <div>
    <p class="powered">{{{i18n.msgs.powered}}}</p>
    <p class="copyright">{{{i18n.msgs.copyright}}}</p>
  </div>
</footer>