<div class="left">
  <div class="toolbar">
    <div class="search"></div>
    <div class="maps">
      <label>{{i18n.labels.maps}}{{i18n.labels.fieldSeparator}}</label>
      <select></select>
    </div>
  </div>
  <div class="map-container">
    <div class="map"></div>
    <div class="commands">
      <label>{{i18n.labels.gridShown}}{{i18n.labels.fieldSeparator}}</label>
      <input type="checkbox" class="toggle-grid"/>
      <label>{{i18n.labels.markersShown}}{{i18n.labels.fieldSeparator}}</label>
      <input type="checkbox" class="toggle-markers"/>
      <label>{{i18n.labels.zoom}}{{i18n.labels.fieldSeparator}}</label>
      <input type="range" min="0.1" max="2" step="0.05" class="zoom"/>
    </div>
  </div>
</div>
<div class="right">
  <div class="action-bar">
    <a href="#" class="new-item"></a>
    <a href="#" class="new-event"></a>
    <a href="#" class="new-player"></a>
    <i class="separator"></i>
    <div class="ui-tabs action-bars">
      <ul></ul>
    </div>
    <div class="embody">
      <label>{{i18n.labels.embodiment}}{{i18n.labels.fieldSeparator}}</label>
      <span class="value"></span>
    </div>
  </div>
  <div class="ui-tabs views">
    <ul></ul>
  </div>
</div>