/*
  Copyright 2010,2011,2012 Damien Feugas
  
    This file is part of Mythic-Forge.

    Myth is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Myth is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser Public License for more details.

    You should have received a copy of the GNU Lesser Public License
    along with Mythic-Forge.  If not, see <http://www.gnu.org/licenses/>.
*/

.authoring.perspective
  
  > .left
    width 250px
    display box

    .explorer
      iconSize = 18px
      overflow auto
      box-flex 1
      // firefox fix: to allow overflow, must have an height, event unrelevant
      height 1px

      .file
      h1
        hoverable()
        padding 5px 2px

      > .file
        margin-left unit(iconSize/2, 'px')

      // folder icons
      h1 > i,
      h1::before,
      .file > i
        display inline-block
        background-image url(images/tree.png)
        background-repeat no-repeat
        height iconSize 
        width iconSize
        vertical-align middle

      h1::before,
      .file::before
        content ''
      .open > h1::before
        background-position -18px 0
      h1 > i
        background-position -36px 0
        margin-right 3px
      .open > h1 > i
        background-position -54px 0
      .file > i
        background-image url(images/icons-16.png)
        background-position 0px -80px

      .file.styl > i
        background-position -16px -80px
      .file.coffee > i
        background-position -32px -80px
      .file.js > i
      .file.json > i
        background-position -48px -80px
      .file.html > i
      .file.htm > i
        background-position -64px -80px
      .file.svg > i
        background-position -80px -80px
      .file.css > i
        background-position -96px -80px

      .content
        margin-left iconSize

      .selected > h1
      .selected:hover > h1
      .file.selected
      .file.selected:hover
        background-color selectedColor

  > .right

    .separator
      display inline-block
      height 25px
      width 2px
      margin 0 10px 0 0
      border 1px solid borderColor
      background hoverColor
      border-radius 5px
      box-shadow: 1px 1px 2px 1px hoverColor

    .ui-tabs .ui-tabs-panel
      overflow hidden
      padding 2px 0 0
      display box

    .ui-tabs-nav
      for icon, idx in file stylus coffee javascript html svg css
        li a i.{icon}
          background-position unit(-25*idx, 'px') -125px

  .view.file:not(.icon)
    position relative
    width 100%
    box-flex 1

    .content.ace_editor
      height 100%
      width 100%

      *
        font-family 'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas',monospace
        font-size 12px
        line-height 16px

.name-choose-popup
  
  input.name
    display block
    width 350px
    margin 0.5em 1em

  .errors
    text-align center
    font-size fontSize*0.9
    color errorColor