// TODO: remove later
html
body 
  height 100%

.edition.perspective
  position relative
  width 100%
  height 100%

  .row 
    // Grid system freely inspired by http://semantic.gs/examples/fluid/fluid.html 
    padding = 15px
    columnWidth = 60px
    columns = 12
    leftSpan = 2
    gridWidth = (columnWidth+padding)*columns - padding
    totalWidth = 100%
    hMargin = totalWidth*((padding*0.5)/gridWidth)/2

    // Compute the cell width
    // @param num [Number] number of column spaned.
    getWidth(num)
      totalWidth * ((((padding+columnWidth)*num) - padding)/gridWidth)

    position absolute
    top padding
    left padding*0.5
    right padding*0.5
    bottom padding

    .cell
      float left
      height 100%
      position relative

    .left.cell
      width getWidth(leftSpan)
      margin 0 hMargin

    .right.cell
      width getWidth(columns - leftSpan)
      margin 0 hMargin
      padding 0
      typeIcons '.new', 25 

      .new-button 
        vertical-align middle

      .ui-tabs-nav .content.modified:before
        content '*'

      .ui-tabs.action-bars
        display inline-block
        padding 0
        border none
        margin-left 20px
        vertical-align middle

        .ui-tabs-nav
          display none

        .ui-tabs-panel
          padding 0

  // explorer behaviour
  .explorer 

    dt 
      hoverable()
      typeIcons '> i',  25, 0 5px 0 0
      font-size 1.1em
      padding 5px 2px

    // open/close icons
    dt::before
      content ''
      display: inline-block
      background-image url(images/tree.png)
      background-repeat no-repeat
      height 18px 
      width 18px
      vertical-align middle
      margin-right: -5px

    dt.open::before
      background-position -18px 0px

    dd > *
      hoverable()
      padding 0.5em 0 0.5em 1em

      img
        width 40px
        height 40px
        vertical-align -1.2em
        margin-right 5px
        display inline-block

  .ui-tabs.views
    takeSpace 40px, 0, 0

    .ui-tabs-nav
      width 100%
      padding-top 2px
      box-sizing border-box

    .ui-tabs-panel
      takeSpace 50px, 0, 0
      overflow auto

    .ui-icon-close
      display inline-block
      cursor: pointer

    li a
      padding: 0.2em 0.5em
      typeIcons '.icon', 25, 0

  // views
  .view

    > h1
      font-weight 700
      border-bottom 1px solid borderColor
      margin-bottom 10px
      padding-bottom 10px
      width 100%

    > .errors
      border-radius radius
      background-color errorColor

      > *
        padding 0.5em 1em
      * 
        color white

    > table
    > div
      margin-top 10px
      width 100%

      td 
        vertical-align top

      .left
        width 120px

        label
          width 100%
          margin-bottom 0.5em
          text-align center

        > .loadable
          margin 0 auto

        .images-container

          .loadable
            margin 0 auto 1em auto

      .right
        padding-left 2em
        
        > *
          margin-bottom 1em

        label
          width 90px

        .properties
          border 1px solid borderColor
          border-collapse collapse
          width 100%

          th 
            table-header()
            padding 0.5em 1em

          th:nth-child(1)
          th:nth-child(2)
            width 25%
            border-bottom 1px solid borderColor
            border-right 1px solid borderColor

          td
            vertical-align top
            padding 0.2em

          td > a
            height 18px
            width 18px

            .ui-icon
              top 1px
              left 1px

      label 
        display inline-block
        width 130px
        margin-right 1em
        padding-top 0.2em
        text-align right
        vertical-align top

      :not(.adv-editor) textarea
        width 75%
        resize vertical

      input[type=text]
        min-width 50%

  // rule views
  .view.rule:not(.icon)
    takeSpace(1em, 1.4em, 1em, 1.4em)

    > div input[type="text"]
      min-width 25%
      
    > .content.ace_editor
      takeSpace(65px)
      margin 0
      border 1px solid borderColor

      *
        font-family 'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas',monospace
        font-size 12px
        line-height 16px

  .view.rule.error > .content.ace_editor
    top 100px
