/* Imports */
@import 'jquery-ui.css'
@import 'jquery-ui-numeric.css'
@import 'jquery-timepicker-addon.css'

// Font variables
fontColor = #333
fontSize = 12px
fontFamily = Verdana, sans-serif

radius = 4px
borderColor = #ccc
shadowColor = #ccc
bgColor = #fff
hoverColor = darken(#fff, 8%)
focusColor = #75B9F0

// Transition mixin
transition(args...)
  -moz-transition args
  -wekbit-transition args
  -ms-transition args
  transition args

// Hover behaviour mixin
hoverable()
  cursor pointer
  transition all 250ms

  &:hover
    background-color hoverColor

// Mixin for icons
icon(size, margin = 0)
  display inline-block
  background-image url(s('images/icons-%s.png', size))
  background-repeat no-repeat
  height (size)px
  width (size)px
  vertical-align -0.5em
  margin margin

// Type icons mixin
typeIcons(selector, size, margin = 0) 
  // type icons 
  {selector}
    icon(size, margin)
    left 3px
    top 3px

  // type icons
  for icon, i in map event-type _ field-type item-type player rule turn-rule
    {selector}.{icon}
    {selector}.{icon}s 
      background-position -1*i*unit(size, 'px') -3*unit(size, 'px')

// Mixin that creates directive for 3 size of icons
multiIcon(names, row = 0)
  for name, i in names

    a > .ui-icon.{name} 
      top 1px
      left 1px

    button > .ui-icon.{name} 
      top 3px
      left 3px

    .ui-icon.{name}.x-small
      icon 16
      background-position unit(-16*i, 'px') unit(-16*row, 'px')

    .ui-icon.{name}.small
      icon 25
      background-position unit(-25*i, 'px') unit(-25*row, 'px')

    .ui-icon.{name}
      icon 50
      background-position unit(-50*i, 'px') unit(-50*row, 'px')

    .ui-icon.{name}.big
      icon 75
      background-position unit(-75*i, 'px') unit(-75*row, 'px')

// Mixin to take all available space
takeSpace(paddingTop = 0, paddingRight = 0, paddingBottom = 0, paddingLeft = 0)
  position absolute
  top paddingTop
  right paddingRight is defined ? paddingRight : paddingTop
  bottom paddingBottom is defined ? paddingBottom : paddingTop
  left paddingLeft is defined ? paddingLeft : paddingRight is defined ? paddingRight : paddingTop

// Bix-sizing mixin
box-sizing()
  -webkit-box-sizing arguments
  -moz-box-sizing arguments
  box-sizing arguments

// Mixin for table headers
table-header()
  background-image url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)
  background-repeat repeat-x 
  background-position 50% 50%
  background-color #CCCCCC

// CSS Reset 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
  margin 0
  padding 0
  border 0
  outline 0
  font-weight inherit
  font-style inherit
  font-size fontSize
  font-family fontFamily
  color fontColor
  vertical-align baseline

:focus 
  outline 0

body 
  line-height 1
  color black
  background white

ol, 
ul 
  list-style none

table 
  border-collapse separate
  border-spacing 0

caption, 
th, 
td 
  text-align left
  font-weight normal

blockquote:before,
blockquote:after,
q:before,
q:after 
  content ""

blockquote,
q 
  quotes "" ""

// Global styles

:not(.ui-numeric) > input
textarea
select
.ui-numeric
  border 1px solid borderColor
  border-radius radius
  padding 0.2em
  transition all 200ms

  &:focus
  &.focus
    border-color focusColor
    box-shadow 0 0 5px rgba(focusColor, 0.6)

// Menus
.menu
  position absolute
  background-color bgColor
  border 1px solid borderColor
  box-shadow 0 3px 5px shadowColor
  margin-top: 2px
  border-radius radius
  padding 0.2em
  opacity 0
  transition opacity 200ms
  z-index -1

  > * 
    hoverable()
    padding 0.5em 1em

.menu.open
  z-index 10
  opacity 1

// Button

.action-bars .ui-button 
  display: inline-block;
  margin-right 10px
  min-height 27px
  min-width 27px
  vertical-align bottom

// Icons
multiIcon(valid invalid cancel warning question help success failure login logout)

multiIcon(save remove open removeSelected upload unlink rename add, 1)

multiIcon(addFoler addFile addParam addProperty newActor newItem newEvent newPlayer field script, 2)

// Special icons that may be inside text
for name in question warning
  .ui-dialog .ui-icon.{name}
    float left
    margin 0 1em 1em 0

.ui-button-text-icon-primary .ui-button-text
  padding-left 2.3em

// JQuery ui dialogs

.ui-dialog 
  min-height 175px
  min-width 480px

  *
    font-size 14px

  .ui-dialog-content 
    min-height 150px
    min-width 450px

    p
      margin-bottom 1em

// Overridable imports
@import 'edition-perspective'
@import 'widget'