/* Imports */
@import 'jquery-ui.css'

// Font variables
fontColor = #333
fontSize = 14px
fontFamily = Verdana, sans-serif

radius = 4px
borderColor = #ccc
shadowColor = #ccc
bgColor = #fff
hoverColor= darken(#fff, 8%)

// Transition mixin
transition(args...)
  -moz-transition args
  -wekbit-transition args
  -ms-transition args
  transition args

// Hover behaviour mixin
hoverable()
  cursor pointer
  transition all 250ms

  &:hover
    background-color hoverColor

// Type icons mixin
typeIcons(selector, size, margin = 0) 
  // type icons 
  {selector}
    display: inline-block
    background-image url(s('images/icons-%s.png', size))
    background-repeat no-repeat
    height (size)px
    width (size)px
    vertical-align -0.5em
    margin margin

  // type icons
  for icon, i in map eventType itemType fieldType _ _ rule turnRule
    {selector}.{icon}
    {selector}.{icon}s 
      background-position -1*i*unit(size, 'px') -3*unit(size, 'px')

// Mixin to take all available space
takeSpace(paddingTop = 0, paddingRight = 0, paddingBottom = 0, paddingLeft = 0)
  position absolute
  top paddingTop
  right paddingRight is defined ? paddingRight : paddingTop
  bottom paddingBottom is defined ? paddingBottom : paddingTop
  left paddingLeft is defined ? paddingLeft : paddingRight is defined ? paddingRight : paddingTop

// Bix-sizing mixin
box-sizing()
  -webkit-box-sizing arguments
  -moz-box-sizing arguments
  box-sizing arguments

// Menus
.menu
  position absolute
  background-color bgColor
  border 1px solid borderColor
  box-shadow 0 3px 5px shadowColor
  margin-top: 2px
  border-radius radius
  padding 0.2em
  opacity 0
  transition opacity 200ms
  z-index -1

  > * 
    hoverable()
    padding 0.5em 1em
    font-size 0.9em

.menu.open
  z-index 10
  opacity 1

// CSS Reset 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
  margin 0
  padding 0
  border 0
  outline 0
  font-weight inherit
  font-style inherit
  font-size fontSize
  font-family fontFamily
  color fontColor
  vertical-align baseline

:focus 
  outline 0

body 
  line-height 1
  color black
  background white

ol, 
ul 
  list-style none

table 
  border-collapse separate
  border-spacing 0

caption, 
th, 
td 
  text-align left
  font-weight normal

blockquote:before,
blockquote:after,
q:before,
q:after 
  content ""

blockquote,
q 
  quotes "" ""

// Global styles

// Overridable imports
@import 'edition-perspective'