/*
  Copyright 2010,2011,2012 Damien Feugas
  
    This file is part of Mythic-Forge.

    Myth is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Myth is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser Public License for more details.

    You should have received a copy of the GNU Lesser Public License
    along with Mythic-Forge.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Imports */
@import 'jquery-ui.css'
@import 'jquery-ui-numeric.css'
@import 'jquery-timepicker-addon.css'

// Font variables
fontColor = #333
fontSize = 12px
fontFamily = Verdana, sans-serif

radius = 4px
borderColor = #ccc
shadowColor = #ccc
bgColor = #fff
hoverColor = darken(#fff, 8%)
inactiveColor = darken(#fff, 20%)
focusColor = #75B9F0
errorColor = lighten(orange, 20%)

// CSS Reset 
@import 'reset'
@import 'mixins'

// Global styles

:not(.ui-numeric) > input
:not(.adv-editor) > textarea
select
.ui-numeric
  border 1px solid borderColor
  border-radius radius
  padding 0.2em
  transition all 200ms

  &:focus
  &.focus
    border-color focusColor
    box-shadow 0 0 5px rgba(focusColor, 0.6)

// Menus
.menu
  position absolute
  background-color bgColor
  border 1px solid borderColor
  box-shadow 0 3px 5px shadowColor
  margin-top: 2px
  border-radius radius
  padding 0.2em
  opacity 0
  transition opacity 200ms
  z-index -1

  > * 
    hoverable()
    padding 0.5em 1em

.menu.open
  z-index 10
  opacity 1

// Button

.action-bars .ui-button 
  display: inline-block;
  margin-right 10px
  min-height 27px
  min-width 27px
  vertical-align bottom

// Icons
multiIcon(valid invalid cancel warning question help success failure login logout)

multiIcon(save remove open remove-selection upload unlink rename add, 1)

multiIcon(add-folder add-file add-param add-property new-actor new-item new-event new-player field script, 2)

// Special icons that may be inside text
for name in question warning cancel
  .ui-dialog .ui-icon.{name}
    float left
    margin 0 1em 1em 0

.ui-button-text-icon-primary .ui-button-text
  padding-left 2.3em

// Validators

:not(.ui-numeric) > input.validation-error
textarea.validation-error
.validation-error
  border-color errorColor

// JQuery ui dialogs

.ui-dialog 
  min-height 175px
  min-width 480px

  *
    font-size 14px

  .ui-dialog-content 
    min-height 150px
    min-width 450px

    p
      margin-bottom 1em

// Overridable imports
@import 'edition-perspective'
@import 'widget'